.company .title {
    color: #000;
    font-family: 'Avenir Black';
}
.companyGrid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.companyGridItem {
    width: 33%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px;
}
.companyGrid img {
    width: 100%;
    height: auto;
}
@media(max-width:767px) {
  .companyGridItem {
    width: 50%;
  }
  .twoSections {
    flex-wrap: wrap;
  }
  .first-twoSections, .second-twoSections {
      width: 100%;
  }
  .btnOrange {
    margin: 20px 30px 40px;
    display: inline-block;
  }
}
