@font-face {
  font-family: 'Avenir Black';
  src: url('/assets/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Book';
  src: url('/assets/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Heavy';
  src: url('/assets/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Light';
  src: url('/assets/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Medium';
  src: url('/assets/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir Oblique';
  src: url('/assets/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  src: url('/assets/AvenirLTStd-Roman.woff') format('woff');
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family:'Avenir';
}

.Header {
  border-top: 5px solid #f55700;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.Menu {
  margin-top: 27px;
}
.Menu li {
  list-style: none;
  display: inline-block;
  padding: 0px 20px;
  vertical-align: top;
  color:#535353;
  border-right: 1px solid #535353;
  position: relative;
  height: 20px;
}
.Menu li:first-child {
  padding-right: 20px;
}
.Menu li:last-child {
  border-right: none;
}
.logo {
  width: 200px;
  height: 73px;
}

.content-slidder {
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: calc(100vw / 3.27);
  overflow: hidden;
}
.img-slidder {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: right;
}
.txt-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center
}
.title-slidder {
    margin-top: 50px;
    color: #000;
    background: rgba(255,255,255,.9);
    padding: 30px 120px;
    max-width: 700px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 24px;
    line-height: 30px;
}
.arrow {
    width: 60px;
    height: 60px;
    background: rgba(0,0,0,.7);
    border-radius: 30px;
    position: absolute;
    top: calc(50% - 30px);
    line-height: 55px;
    font-size: 50px;
    z-index: 10;
    cursor: pointer;
    text-align: center;
}
.arrow img {
  width: 25px;
}
.a-left {
    left: 30px;
}
.a-right {
  right: 30px;
}
.title {
  color: #a1a1a1;
  font-size: 36px;
  margin: 30px 0 15px;
  padding: 0px 30px;
  text-align: center;
}
.subtitle {
  padding: 0 30px;
    font-size: 25px;
}
.productsGrid {
  display: flex;
  height: 300px;
  margin-bottom: 50px;
}
.productGridItem {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.productMask {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .8;
  transition: all 0.15s linear;
}
.imgProductHome {
  width: 100%;
  height: 300px;
  object-fit: cover;
  transition: all 0.15s linear;
}
.nameProduct {
  color: #000;
  text-align: center;
  font-size: 26px;
}
.Footer {
  background: #575757;
  display: flex;
  padding: 30px 0;
  justify-content: space-between;
}
.colFooter, .colFooterLast {
  padding: 20px;
}
.colFooterLast {
  width: 400px;
}
.colFooterLast img {
  max-width: 90%;
  margin: 0 auto;
}
.titleFooter {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.menuFooter {
  padding-left: 0;
}
.menuFooter li {
  text-decoration: underline;
  list-style: none;
  padding: 5px 0px;
}
.menuFooter li a{
  color: #fff;
}
.socialMedia img {
  margin-right: 10px;
  width: 30px;
  height: auto;
}
.footerInfo {
  color: #fff;
  margin-top: 30px;
}
.footerInfo strong {
  font-size: 18px;
}
.container {
  padding: 80px 0 30px;
  max-width: 1170px;
  margin: 0 auto;
}
.container p {
  margin: 0 auto;
  
  padding: 20px 30px;
  font-size: 20px;
  text-align: center;
}
.collectionGrid {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.collectionGridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  box-sizing: border-box;
  margin: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.collectionGridItem a {
  width: 100%;
  height: 350px;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.imgProductGrid {
  width: 100%;
  height: 280px;
  overflow: hidden;
  margin-bottom: 10px;
}
.imgProductGrid img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .2s;
}
.imgProductGrid:hover img {
  transform: scale(1.2);
}
.collectionGridName {
  position: relative;
  z-index: 1;
}
.inner {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 50px;
  display: inherit;
}
.btnsContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 80px auto;
}
.btnRound {
  background: #f55700;
  padding: 20px 30px;
  margin: 10px 20px;
  min-width: 150px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  border-radius: 30px;
}
.der, .izq, .center {
  display: flex;
  align-items: center;
  
}
.center {
  justify-content: center;
}
.der {
  flex-direction: row;
}
.izq {
  flex-direction: row-reverse;
}
.info, .flyer {
  box-sizing: border-box;
  vertical-align: middle;
}
.info {
  display: table-cell;
}

.info {
  width: 400px;
  padding: 20px 10px;
}
.expand .izq {
  width: 100%;
}
.expand .rowItems {
  width: 700px;
}
.expand {
    background: #312d2a;
    color: #fff;
    margin-bottom: 0;
}
.clearfix {
  width: 350px;
  height: 94px;
  display: inline-block;
}
.expand .central .rowItems {
  width: 1050px;
}
.expand .rowItems img {
  width: 350px;
  display: inline;
}
.flyer {
  width: calc(100% - 400px);
}
.expand .info {
  width: 720px;
  border:none;
}
.expand .flyer {
  width: calc(100% - 720px);
}
.info img, .flyer img {
  max-width: 100%;
}
.rowItems {
  margin: 0 auto;
  width: 350px;
  text-align: center;
  margin-top: 30px;
}
.itemName {
  text-align: center;
  width: 100px;
  margin: 0 3px 0px 12px;
  display: inline-block;
  vertical-align: top;
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Avenir Black';
}
.iframe-container {
  position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding-bottom: 33%;
    padding-top: 25px;
    height: 0;
    text-align: center;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.diamondGrid {
  background: url('/images/product-lines/dipping-power/diamond/bg.jpg');
  color:#fff;
  margin-bottom: 0;
}
.diamondGrid .info {
  border: none;
}
.diamondGrid .itemName span {
  background-image: linear-gradient(to right, #c99559, #ffebb2, #c79452, #fee2a3, #fffad2, #ffcd88);
  color: #000;
  padding: 3px 5px;
}
.highVoltage .info {
  color: #812c85;
}
.nudeNude .info {
  color: #a8604a;
}
.temperature .info {
  color: #be1e4a;
}
.redsoul .info {
  color: #901d1a;
}
.electroGlow .info, .nudeGlow .info {
  padding: 0;
}
.bubbletea .info {
  color: #eb7983;
}
.ombre .info {
  color: #2674be;
}
.pearl .info {
  color: #8a85bb;
  padding: 0;
  border:0;
}
.pearl .descripcion {
  padding: 10px;
}
.pearl .rowItems {
  background: #ecf6ee;
  width: 100%;
  padding: 20px 0px;
}
.electroGlow p { 
  padding: 20px 10px;
  color: #1a0e24;
}
.nudeGlow p {
  padding: 20px 10px;
}
.electroGlow .rowItems {
  background: #1a0e24;
  color: #fff;
  width: 100%;
}
.looseGlitter .izq {
  background: #312d2a;
  color: #fff;
}
.nudeGlow .rowItems {
  background: linear-gradient(to right, #e24429 0%, #1f0b30 100%);
  color: #fff;
  width: 100%;
}
.gradientNudeGlow p {
  text-transform: uppercase;
	background: linear-gradient(to right, #e24429 0%, #1f0b30 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	
}
#menu-toggle {
  display: none;
  overflow: hidden;
}
.twoSections .title, .twoSections p {
  text-align: left;
}
.text-uppercase {
  text-transform: uppercase;
}
.twoSections {
  display: flex;
  align-items: center;
}
.first-twoSections {
  width: 60%;
}
.second-twoSections {
  width: 40%;
}
.second-twoSections img {
  width: 100%;
}
.oneSection .title, .oneSection p {
  text-align: left;
}
.btnOrange {
  border:2px solid #f55700;
  border-radius: 12px;
  font-size: 22px;
  color: #f55700;
  padding: 10px;
  margin-top: 20px;
  display: inline;
}
@media(min-width:1025px) {
  .productGridItem:hover .productMask {
    opacity: 1;
  }
  
}
@media(max-width:1024px) {
  .productGridItem .productMask {
    opacity: 1;
  }
}

@media(max-width:991px) {
  .title-slidder {
    max-width: 70%;
    font-size: 22px;
    padding: 30px 80px;
  }
  .Footer {
    flex-wrap: wrap;
  }
  .colFooterLast {
    width: 100%;
    text-align: center;
  }
  .colFooter {
    width: 33%;
    box-sizing: border-box;
  }
  #menu-toggle {
    display: block;
    z-index: 4;
  }
  .Menu {
    height: 0;
    opacity: 0;
    transition: all 0.5s ease-out;
    z-index: 3;
    background:rgba(0,0,0,.7);
    position: absolute;
    right: 0;
    top: 68px;
    padding-left: 0;
    overflow: hidden;
  }
  .Menu.open {
    
    height: 200px;
    opacity: 1;
  }
  .Menu li {
    display: block;
    padding: 5px 25px;
    color: #fff;
  }
  .Menu.open a {
    color: #f8894c;
  }
  .Menu.open .search.icon {
    color: #fff;
  }
  .Menu .search.icon {
    position: relative;
    margin-left: 20px;
  }
  .Menu li:first-child {
    padding-top: 15px;
  }
  .expand .der, .expand .izq {
    flex-wrap: wrap;
  }
  .expand .info, .expand .flyer, .expand .line-product {
    width: 100%;
  }
}
@media(max-width:767px) {
  .productsGrid {
    flex-wrap: wrap;
    height: auto;
  }
  .productGridItem {
    width: 100%;
  }
  .logo {
    width: 150px;
    height: 58px;
  }
  .Header {
    padding: 10px 15px;
  }
  
  .title-slidder {
    max-width: 60%;
    font-size: 20px;
    padding: 30px 50px;
  }
  .title {
    font-size: 27px;
  }
  .collectionGridItem {
    width: 46%;
  }
  .der, .izq {
    flex-wrap: wrap;
  }
  .info, .flyer {
    width: 100%;
  }
  .info {
    padding: 20px 30px;
  }
}
@media(max-width:575px) {
  .arrow {
    display: none;
  }
  .title-slidder {
    padding: 30px;
    max-width: 80%;
  }
  .colFooter {
    width: 100%;
    text-align: center;
  }
  .Header {
    flex-wrap: wrap;
    height: auto;
  }
  .logo {
    margin: 0 auto;
  }
  .collectionGridItem {
    width: 100%;
  }
  .container {
    padding: 30px;
  }
}